<h1 class="w3-center">More Shows</h1>
<section class="w3-container">
  <p><%#= tvs_object %></p>
  <p><%= tv_shows %></p>
  <p><%= "Results Per Page: #{tv_shows.count }"%></p>
  <p><%= "Current Page: #{current_page}" %></p>
  <p><%= "Per Page: #{per_page}" %></p>
  <p><%= "Total Results: #{total_results}" %></p>
  <p><%= "Total Entries : #{total}" %></p>
  <p><%= "Total pgs: #{  total_pages}" %></p>
  <p><%= "Params: #{  params.inspect}" %></p>
  <p><%#= "Collecton: #{  collection }" %></p>
</section>
<!-- Pagination -->
<section class="w3-center">
  <%= will_paginate paginated_collection %>
  <p>
    <%= page_entries_info paginated_collection %>
    <%#= "Displaying #{model}" %>
    <!-- <span class="w3-bold"><%#= " #{max_item_number}" %></span> -->
    <!-- <span ><%#= " - " %></span> -->
    <!-- <span class="w3-bold"><%#= " #{min_item_number}" %></span> -->
  </p>
</section>
