<h1 class="w3-center">Inquiry Results</h1>

<p><b><%= results_total.nil? ? "Results: 0" : "Results: " + results_total.to_s %></b></p>
<p><%= "Total pages: #{pg_total}"%></p>

<% if parsed_inquiry['total_results'].eql?(0) %>
  <p w3-bold>
    <b><%= "Invalid input." %></b>
    <%= " No results found for " %>
    <b class="w3-bold"><%= "#{probe}" %></b>
  </p>
<% elsif parsed_inquiry['total_results'].nil?%>
  <p><b><%= "Empty input. " + parsed_inquiry['errors'][0].capitalize + "." %></b></p>
<% else %>
  <%= inquiry_results %>
<% end %>
